/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 10, ../sass/screen.scss */
body {
  font-family: Amatic SC;
  letter-spacing: 0.1em;
  background-color: ivory;
  position: relative;
}

/* line 18, ../sass/screen.scss */
.menu {
  position: fixed;
  width: 100%;
  font-size: 2em;
  top: 2vh;
  z-index: 1;
}

/* line 26, ../sass/screen.scss */
ul {
  display: flex;
  text-decoration: none;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

/* line 34, ../sass/screen.scss */
li > h2:hover {
  padding: 0.5vw;
  border: dashed 1px coral;
  color: coral;
  margin: -0.5vw;
  cursor: pointer;
}

/* line 42, ../sass/screen.scss */
li > h2 > a {
  text-decoration: none;
}

/* line 46, ../sass/screen.scss */
li > h2 > a:visited {
  color: initial;
}

/* line 50, ../sass/screen.scss */
li > h2 > a:hover {
  color: coral;
}

/* line 54, ../sass/screen.scss */
.logos {
  width: 2vw;
  height: auto;
}

/* line 62, ../sass/screen.scss */
#containerAccueil {
  font-size: 3em;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin-top: 20vh;
}

/* line 70, ../sass/screen.scss */
.titles, .portrait {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

/* line 78, ../sass/screen.scss */
.titles > h1, .portrait > h1 {
  color: coral;
}

/* line 82, ../sass/screen.scss */
.borderTitles {
  position: absolute;
  border: dashed 1px coral;
  z-index: 1;
  animation-name: apparitionBorder;
  animation-delay: 6s;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes apparitionBorder {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
/* line 106, ../sass/screen.scss */
.borderDesign {
  width: 12vw;
  height: 10vh;
  left: 19vw;
}

/* line 112, ../sass/screen.scss */
.borderDesign:hover, .borderDev:hover {
  border: dashed 2px coral;
  cursor: pointer;
}

/* line 117, ../sass/screen.scss */
.borderDev {
  width: 25vw;
  height: 10vh;
}

/* line 126, ../sass/screen.scss */
.animTitles {
  padding: 2vh;
  width: 23vw;
  height: auto;
  animation-name: slide;
  animation-delay: 6s;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes slide {
  0% {
    margin-right: 10vw;
    visibility: visible;
    opacity: 0.1;
  }
  25% {
    margin-right: 8vw;
    visibility: visible;
    opacity: 0.3;
  }
  50% {
    margin-right: 5vw;
    visibility: visible;
    opacity: 0.5;
  }
  75% {
    margin-right: 3vw;
    visibility: visible;
    opacity: 0.8;
  }
  100% {
    margin-right: 0;
    visibility: visible;
    opacity: 1;
  }
}
/* line 168, ../sass/screen.scss */
.portrait {
  margin-top: 2vh;
  width: 100%;
}

/* line 174, ../sass/screen.scss */
.textes {
  visibility: hidden;
  width: 30vw;
  height: 30vh;
  font-size: 0.5em;
  text-align: center;
}

/* line 182, ../sass/screen.scss */
#texteDesign {
  margin-right: 0;
  margin-top: 12vh;
}

/* line 187, ../sass/screen.scss */
#texteDev {
  margin-left: 0;
  margin-top: 11vh;
}

/* line 192, ../sass/screen.scss */
.color {
  color: orangered;
}

/* line 196, ../sass/screen.scss */
#portrait {
  margin-bottom: 10vh;
}

/* line 200, ../sass/screen.scss */
.presentation {
  text-align: center;
  position: relative;
  bottom: 10vh;
}

/* line 206, ../sass/screen.scss */
.invisible {
  position: absolute;
  right: 45.4vw;
  top: 16.6vh;
  display: none;
}

/* line 213, ../sass/screen.scss */
.animBj {
  font-size: 1.5em;
  animation-duration: 2s;
  animation-name: apparition;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

/* line 221, ../sass/screen.scss */
.animName {
  animation-delay: 1s;
  animation-duration: 1s;
  animation-name: apparition;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

/* line 229, ../sass/screen.scss */
.name {
  animation-delay: 2s;
  animation-duration: 1s;
  animation-name: visible;
  animation-timing-function: linear;
  opacity: 0;
  animation-fill-mode: forwards;
  position: absolute;
}

/* line 239, ../sass/screen.scss */
.animP {
  animation-delay: 4s;
  animation-duration: 1s;
  animation-name: apparition;
  animation-timing-function: ease-in-out;
  opacity: 0;
}

@keyframes apparition {
  0% {
    opacity: 0;
    color: coral;
  }
  50% {
    opacity: 0.5;
    color: coral;
  }
  100% {
    opacity: 1;
  }
}
@keyframes visible {
  0% {
    opacity: 0;
    bottom: -8vh;
    color: coral;
  }
  50% {
    opacity: 0.5;
    bottom: 0;
    color: coral;
  }
  100% {
    opacity: 1;
    bottom: 10vh;
  }
}
/* line 281, ../sass/screen.scss */
.projets {
  background-color: lightblue;
  width: 80%;
  height: 100vh;
  margin: 0 auto;
  clear: both;
  font-size: 1.5em;
}

/* line 290, ../sass/screen.scss */
.site > h1 > a {
  text-decoration: none;
  color: orangered;
}

/* line 295, ../sass/screen.scss */
#containerSlide {
  position: relative;
}

/* line 299, ../sass/screen.scss */
.imagesProjets {
  width: 50%;
  height: 40%;
  display: none;
  padding: 2vw;
  margin-top: 15vh;
  float: left;
}

/* line 308, ../sass/screen.scss */
.imagesProjets:hover {
  cursor: pointer;
}

/* line 312, ../sass/screen.scss */
.infos {
  width: 40%;
  height: 90%;
  display: none;
  float: right;
  margin-right: 2vw;
  margin-top: 19vh;
}

/* line 322, ../sass/screen.scss */
.site {
  font-size: 1.2em;
  clear: left;
  width: 50%;
  height: 45%;
  margin-bottom: 18vh;
  margin-left: 2vw;
}

/* line 332, ../sass/screen.scss */
.visible {
  display: block;
}

/* line 336, ../sass/screen.scss */
.navigation {
  position: absolute;
  display: flex;
  flex-flow: row;
  height: 2vw;
  z-index: 1;
  bottom: 40vh;
}

/* line 345, ../sass/screen.scss */
.fleches {
  color: coral;
  width: 1vw;
  height: 1vw;
  border: dashed 1px coral;
  border-radius: 100%;
  padding: 1vw;
  text-align: center;
}

/* line 355, ../sass/screen.scss */
.left {
  margin-left: 6vw;
}

/* line 359, ../sass/screen.scss */
.right {
  margin-left: 81vw;
}

/* line 363, ../sass/screen.scss */
.fleches:hover {
  background-color: coral;
  color: #FFF;
  cursor: pointer;
}

/* line 373, ../sass/screen.scss */
footer {
  width: 100%;
  height: 80vh;
  background-color: coral;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  line-height: 1.2em;
}

/* line 385, ../sass/screen.scss */
footer > h2 > a {
  text-decoration: none;
  color: lightblue;
}

@media screen and (max-width: 600px) {
  /* line 397, ../sass/screen.scss */
  .menu {
    font-size: 2.4em;
  }

  /* line 401, ../sass/screen.scss */
  ul {
    flex-flow: row wrap;
  }

  /* line 405, ../sass/screen.scss */
  .menu li {
    padding-left: 8vw;
  }

  /* line 409, ../sass/screen.scss */
  .logos {
    width: 8vw;
    height: auto;
    padding-top: 2vh;
  }

  /* line 415, ../sass/screen.scss */
  .borderTitles {
    display: none;
  }

  /* line 419, ../sass/screen.scss */
  .titles, .portrait {
    position: relative;
    width: 100%;
  }

  /* line 424, ../sass/screen.scss */
  .animTitles {
    font-size: 1em;
    position: absolute;
  }

  /* line 429, ../sass/screen.scss */
  .animTitleDesign {
    right: 40vw;
    animation-name: slide;
    animation-delay: 6s;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    z-index: 3;
  }

  /* line 438, ../sass/screen.scss */
  .animTitleEt {
    right: 35vw;
    animation-name: slide;
    animation-delay: 7s;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    z-index: 2;
  }

  /* line 447, ../sass/screen.scss */
  .animTitleDev {
    width: 50vw;
    right: 20vw;
    animation-name: slide;
    animation-delay: 8s;
    animation-duration: 0.8s;
    animation-timing-function: linear;
    z-index: 1;
  }

  @keyframes slide {
    0% {
      visibility: visible;
      opacity: 0.1;
    }
    25% {
      visibility: visible;
      opacity: 0.3;
    }
    50% {
      visibility: visible;
      opacity: 0.5;
    }
    75% {
      visibility: visible;
      opacity: 0.8;
    }
    100% {
      visibility: visible;
      display: none;
    }
  }
  /* line 481, ../sass/screen.scss */
  .portrait {
    margin-top: 15vh;
  }

  /* line 485, ../sass/screen.scss */
  .site h1 {
    display: none;
  }

  /* line 489, ../sass/screen.scss */
  .projets {
    width: 100%;
    font-size: 1.8em;
  }

  /* line 494, ../sass/screen.scss */
  .infos {
    clear: left;
    width: 90%;
    margin-top: 2vh;
  }

  /* line 500, ../sass/screen.scss */
  .imagesProjets {
    width: 100%;
    height: 30%;
    margin: 0 auto;
    padding: 0;
    padding-top: 18vh;
  }

  /* line 508, ../sass/screen.scss */
  .navigation {
    display: none;
  }

  /* line 512, ../sass/screen.scss */
  footer {
    text-align: center;
  }
}
